@model Fanbase.Models.Actor

<h2>Actor Details</h2>
<h3>Actor Name: @Html.DisplayFor(model => model.Name)</h3>
<h4>Date of Birth: @Html.DisplayFor(model => model.DateOfBirth)</h4>
<h4>Country of Origin: @Html.DisplayFor(model => model.Country.Name)</h4>
<h4>Oscar Winner:  @if(@Model.Oscar==true){
                        <span>Yes</span>
                      }else {
                        <span>Not yet</span>
                      }     
</h4>
@if (@Model.JoinEntities.Count == 0)
{
  <p>You have not entered any films for this actor yet.</p>
}
else
{
  <h4>Filmography:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Film.Name</li>
    @using (Html.BeginForm("DeleteFilm", "Actor"))
    {
      @Html.Hidden("joinId", @join.ActorFilmId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add Film", "AddFilm", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Edit Actor", "Edit", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Delete Actor", "Delete", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Return to Home", "Index")</p>