@model Fanbase.Models.Actor

<h4>Edit this actor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ActorId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.DateOfBirth)
    @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}")

    @Html.Label("Country of Origin")
    @Html.DropDownList("CountryId")
    
    @Html.LabelFor(model => model.Oscar)
    @Html.CheckBoxFor(model => model.Oscar)

    @Html.LabelFor(model => model.IsMcu)
    @Html.CheckBox("IsMcu")

    @* @Html.Label("Select Film")
    @Html.DropDownList("FilmId") *@

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
