@model Fanbase.Models.Film

<h4>Add a new film</h4>

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name, new{ required = "required"})
  @Html.TextBoxFor(model => model.Name, new{ required = "required"})</p>

  <p>@Html.LabelFor(model => model.DateOfRelease)
  @Html.TextBoxFor(model => model.DateOfRelease, "{0:d MMM yyyy}", new {@type="date"})</p>

  <p>@Html.LabelFor(model => model.Director)
  @Html.TextBoxFor(model => model.Director)</p>

  <p>@Html.LabelFor(model => model.IsOriginalWork)
  @Html.CheckBox("IsOriginalWork")</p>

  <p>@Html.Label("Select country")
  @Html.DropDownList("CountryId")</p>

  <p><button class="btn" type="submit">Add new film</button></p>
}
